<!DOCTYPE html>
{% load sekizai_tags %}
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Python Utah North</title>
    {% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>{% endaddtoblock %}
    {% if icon %}
        {% addtoblock "css" %}<link rel="icon" type="image/png" href="{{ STATIC_URL }}{{icon}}"/>{% endaddtoblock %}
    {% else %}
        {% addtoblock "css" %}<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/utah_python_north_logo.jpeg"/>{% endaddtoblock %}
    {% endif %}
    {% render_block "css" %}
</head>
<body>
    <div id="header" class="header">
        <img src="{{ STATIC_URL }}images/utah_python_north_logo.jpeg" alt="UPN Baby!"/>
        <h1 float="left">(Project Firestorm)</h1>
        {% block user_pane %}{% endblock %}
    </div>
    <div id="content">
        <div id="left">
            {% block left %}{% endblock %}
        </div>
        <div id="right">
            {% block right %}{% endblock %}
        </div>
        <div id="center">
            {% block center %}{% endblock %}
        </div>
    </div> <!-- end content -->
{% render_block "js" %}
</body>
