<!DOCTYPE html>
<html>
<head>
    <title>Python Utah North</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
  {% if icon %}
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}{{icon}}"/>
  {% else %}
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/utah_python_north_logo.jpeg"/>
  {% endif %}
</head>
<body>
    <div id="header" class="header">
        <img src="{{ STATIC_URL }}images/utah_python_north_logo.jpeg" alt="UPN Baby!"/>
        <h1 float="left">(Project Firestorm)</h1>
        {% block user_pane %}{% endblock %}
    </div>
    <div id="content">
        <div id="left">
            {% block left %}{% endblock %}
        </div>
        <div id="right">
            {% block right %}{% endblock %}
        </div>
        <div id="center">
            {% block center %}{% endblock %}
        </div>
    </div> <!-- end content -->
</body>
